.container{
    width: 100%;
    margin-top: 319px;
    color: #f1f1f1;
    
}


.title{
   
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    border-bottom: white 1px solid;
    margin-bottom: 80px;
    width: 70%;
    text-align: center;
}
.text{
    margin: 0 auto;
    max-width: 1040px;
    font-size: 19px;
    padding: 22px;
    line-height: 31.8px;
    
}

@media (max-width:1007px) 
{
    .title{
    display: block;
    text-align: center;
    border-bottom: 1px solid blue;
    margin-bottom: 34px;
        
     }
     .title h1{
        text-transform: uppercase;
     }
}