.container{
     /* background-image: url("https://images.pexels.com/photos/1695050/pexels-photo-1695050.jpeg?auto=compress&cs=tinysrgb&w=600"  );
     background-image: url("https://www.freepik.com/free-vector/car-with-luggage-roof-drive-road-mountains-horizon-night-vector-cartoon-illustration-landscape-with-highway-rocks-auto-with-suitcases-full-moon-stars-sky_23068303.htm#query=moon%20illustration&position=2&from_view=keyword"); 
     */
     background-image: url("./moon.jpg");
     
     object-position: center;  
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     height:850px;
     border-bottom-left-radius:  30%;
     border-bottom-right-radius:  30%;
     /* border-bottom-left-radius:50% ;
     border-bottom-right-radius:50% ; */
     
    }
.section{
    display:grid;
    padding: 32px 48px  ;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr ;
    color: rgb(19, 7, 7);
    opacity: 100%;
    
    
}

.section div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section div h2{
    font-weight: 800;
    font-size: 56px;
    line-height:56px;
    width: max-content;
    max-width: 100%;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin-bottom: 16px;
    padding: 58px 0 16px;
    /* animation: h2Animation 7s linear infinite; text animation later */ 
}

.section div p{
    max-width: 800px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  padding-bottom: 3.6rem;
  color: rgb(238, 217, 217)
}

.ainmation{
    display: flex;
    justify-content: space-around;
    width:100%;
    align-items: center;
    position: absolute;
    bottom: -100px;

}
.ainmation img{
    width:50px ;
    animation: flame 7s linear infinite;

}









@keyframes h2Animation {
    100%{
        background-image: linear-gradient(blue, red);
    }
    
}

@keyframes flame {
    0%{
        transform: translateY(-90vh);
        opacity: 0;

    }
   
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
        
    }
    100%{
        transform: translateY(0vh);
        opacity: 0;
        
    }
    
}

.ainmation img:nth-child(1){
    animation-delay: 2s;
    width:20px;
}

.ainmation img:nth-child(2){
    animation-delay: 1s;

    width:50px;
}

.ainmation img:nth-child(3){
    animation-delay: 3s;
    width:70px;
}

.ainmation img:nth-child(4){
    animation-delay: 6s;
    width:20px;
}

.ainmation img:nth-child(5){
    animation-delay: 4s;
    width:80px;
}

