@import url("https://fonts.googleapis.com/css?family=Audiowide");

.container{
    width: 100%;
    /* background-color: black; */
    /* background-image: url("https://img.freepik.com/free-vector/galaxy-background-desktop-wallpaper-space-vector_53876-136882.jpg?size=626&ext=jpg&ga=GA1.2.441203137.1663515662");
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center center;
    background-position: center; */
    font-family: "Audiowide", sans-serif;
    /* margin-top: 30px; */
   
    
}
.grid{
    display:grid;
    padding: 32px 48px  ;
    /* margin-left: 250px; */
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    /* position: relative; */
    overflow: hidden;
    grid-template-columns: 340px 340px 340px ;
    grid-template-rows: 450px  450px  ;
    color: brown;
    row-gap: 65px;
    column-gap: 20px;
    place-items: center;
    
   
}

.card{

    display: block;
    width: 300px;
    border: 1px blue dotted;
    background-color: aliceblue;
    /* color:black; */
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    position: relative;
    color: black;
    /* height: 490px; */
    
    
}

.card:hover{
     /* transform: scale(1.1,1.1); */
     /* transition-delay: 10s; */
     
/* 
    background-image: linear-gradient(red,blue);  */

}
/* /* .card:hover  .content{
    /* transform: scale(1.1,1.1);
    background-image: linear-gradient(red,blue); 
    display: block; */

 .pic{
    background-image: url("https://img.freepik.com/free-vector/team-starting-project_74855-4818.jpg?size=626&ext=jpg&ga=GA1.2.441203137.1663515662");
    object-position: center;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 280px;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    
}

.content{
   
    text-align: center;
    /* padding: 20px ; */
    /* display: none; */
}
.content a{
    border-radius: 10px;
    background-color:  #1CB0F6;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    text-align: center;
  
}
.content a svg {
    
    margin-bottom:4px ;
    margin-right: 5px;
}

.logo{
    /* display: flex;
    justify-content: space-between; */
    /* padding-right:15px ;
    padding-left: 30px; */
    margin-bottom: 10px;
    align-items: center;
}


.svg{
    width:  120px;
    height: 30px;;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}






.cardSize{
    width: 100%;
    height: 85%;
    margin:20px;
}


.pre{
    display:grid;
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    grid-template-columns: 398px 398px 398px ;
    grid-template-rows: 450px  450px ;
    color: brown;
    row-gap: 30px;
    column-gap: 20px;
}
.pre div{
    border:rgb(230, 22, 22) solid 3px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto ;
    

    
}


.pre .card{
    border: white solid 1px;
   width: 30%;
   height: 30%;
    display: block;
}

