
html,body{
  
  width: 100%;
  height: 100%;
  /* background-color: #212529; */
  
}
@media(max-width :1007px){
  html,body{
  
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* background-color: #212529; */
    
  }

}
body{
  margin: 0; padding: 0;
  
  

}